.show-hide
  - for header in headers
    .bold.table-header{class: header[1]}= header[0]
= f.fields_for xies_name do |builder|
  = render field, f: builder
= f.link_to_add "Add", xies_name, class: 'btn btn-success span'
