= f.hidden_field :account_id
.row-fluid
  .span3
    = f.input :depreciation_rate, input_html: { class: 'numeric span', type: :text }
#additions
  .row-fluid
    = render_additions_fields f, :additions

:coffee
  ($ document).ready -> asset.init()