.bundle
db/*.sqlite3*
db/schema.rb
old_data/
log/*.log
*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
.sass-cache/
.DS_Store
.tags
config/database.yml 
config/initializers/secret_token.rb
config/initializers/full_circle.rb
config/initializers/session_store.rb