.row-fluid
  .span5
    = f.input :salary_type_name, input_html: { class: 'salary_type span' }, wrapper: :table_field
  .span3
    = f.input :amount, input_html: { class: 'amount span', type: :text }, wrapper: :table_field
  .span1
    = f.link_to_remove "X", class: "btn btn-danger", tabindex: -1
