= f.hidden_field :produce_date
.row-fluid
  .span6
    = f.input :feed_type, label: 'Feed Type', input_html: { class: 'span', type: :text }
  .span6
    = f.input :quantity, label: 'Qty (Kg)', input_html: { class: 'numeric span', type: :text }
  .span6
    = f.input :silo, label: 'Silo', input_html: { class: 'span', type: :text }
  
