.css-treeview
  %ul
    %li
      %input{type: 'checkbox', id: '1'}
      %label.label.label-info{for: '1'}test1
      %ul
        %li
          %input{type: 'checkbox', id: '2'}
          %label.label.label-info{for: '2'}test2
          %ul
            %li
              %a.label.label-success{herf: '#'}test leaf
            %li
              %a.label.label-success{herf: '#'}test leaf 1
