.row-fluid{class: "Advance"}
  .offset14.span3
    = f.input :doc_date, as: :datepicker, input_html: { class: 'span21', readonly: true, tabindex: -1 }, wrapper: :table_field  
  .span2
    = text_field_tag :id, docnolize(f.object.id, '#'), class: 'span', readonly: true, tabindex: -1
  .span3
    = f.input :amount, input_html: { tabindex: -1, class: 'numeric row-total span', type: :text, readonly: true }, wrapper: :table_field
