.row-fluid
  .span12
    = f.input :bank_name1, input_html: { class: 'span' }, label: 'Deposit to Bank', autofocus: true
  .span6
    = f.input :doc_date, as: :datepicker, input_html: { class: 'span38' }, label: 'Date'
  .span6
    = f.input :cash_amount, input_html: { class: 'numeric', type: :text }
#cheque-query
  .row-fluid
    = render 'cheques/due_cheques_query', f: f
    .offset36.span6
      %input.bold.show-hide.span.numeric#total_cheques{tabindex: -1, value: 0.00, type: 'text', readonly: true }

:coffee
  ($ document).ready -> deposit.init()
