.row
  = f.input :name, autofocus: true, wrapper_html: { class: 'span3' }
#products
  .row.nested
    = render_products_fields f, :product_packagings

:javascript
  $(document).ready(function() {
    packaging.init();
  });