.row-fluid
  = f.input :name, autofocus: true, wrapper_html: { class: 'span3' }
#products
  .row-fluid.nested
    .span17
      = render_products_fields f, :product_packagings

:coffee
  ($ document).ready -> packaging.init()