= simple_nested_form_for @payment, html: { class: 'form-inline well', id: 'payment_form' } do |f|
  %legend
    New Payment
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', new_payment_path, class: 'btn btn-warning'