.row-fluid
  .span12
    = f.input :account_name1, input_html: { class: 'account span' }, wrapper: :table_field
  .span22
    = f.input :note, input_html: { class: 'span' }, wrapper: :table_field
  .span8 
    = f.input :amount, input_html: { class: 'amount numeric span', type: :text }, wrapper: :table_field
  .span2
    = f.link_to_remove "X", class: "btn btn-danger", tabindex: -1
