@import 'bootstrap/mixins';

.css-treeview {
  max-height: 443px;
  overflow: auto;
  background-color: #F5F5F5;
  padding: 15px;
  border: 2px solid #868686;
  @include border-radius(4px);
}

.css-treeview a.btn {
  margin-bottom: 5px;
}

.css-treeview ul, .css-treeview li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.css-treeview input {
  position: absolute;
  opacity: 0;
}

.css-treeview {
  @include user-select(none);
}

.css-treeview input + span + a + ul {
  margin: 0 0 0 12px;
}

.css-treeview ul.account {
  margin: 0 0 0 20px;
}

.css-treeview input ~ ul {
  display: none;
}

.css-treeview label, .css-treeview label::before {
  cursor: pointer;
}

.css-treeview input:disabled + label {
  cursor: default;
  opacity: .6;
}

.css-treeview input:checked:not(:disabled) ~ ul,
.css-treeview input[checked]:not(:disabled) ~ ul
{
  display: block;
}

.css-treeview a, .css-treeview ul li {
  margin-bottom: 1px;
}

.css-treeview label, .css-treeview a, .css-treeview label::before {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
}

.css-treeview label::before {
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.css-treeview span.badge, .css-treeview span::before {
  content: ' + ';
}

.css-treeview input:checked + span::before,
.css-treeview input[checked] + span::before
{
  content: ' - ';
}