@import 'bootstrap/mixins';

#details {
  padding: 5px 5px 5px 20px;
  background-color: #FAF7A9;
  margin-bottom: 5px;
  @include border-radius(5px);
  border: 2px solid lightgray;
}

#particulars {
  padding: 5px 5px 5px 20px;
  background-color: #FFCFCF;
  @include border-radius(5px);
  border: 2px solid lightgray;
  margin-bottom: 5px;
}

#cheques {
  padding: 5px 5px 5px 20px;
  background-color: #89ED85;
  @include border-radius(5px);
  border: 2px solid lightgray; 
}