@import 'bootstrap/mixins';

.pay-to {
  padding: 5px 5px 5px 20px;
  background-color: #FAF7A9;
  margin-bottom: 5px;
  @include border-radius(5px);
  border: 2px solid lightgray;
}

.pay-from {
  padding: 5px 5px 5px 20px;
  background-color: #FFCFCF;
  @include border-radius(5px);
  border: 2px solid lightgray;
}

.row.nested .table-header { 
  margin-left: 0px;
  margin-right: 5px;
}

.row.nested .fields {
  display: inline-block;
}

.row.nested .table-field {
  margin-bottom: 0px;
  line-height: 0px;
}

.row.nested .table-field.error {
  margin-bottom: 0px;
  line-height: 18px;
}

a.add_nested_fields {
  margin-top: 2px;
  margin-bottom: 2px;
}