= f.input :party_type, label: 'Particular Type', collection: ['Incomes', 'Expenses'], include_blank: false
= f.input :name
= f.input :account_id, as: :typeahead, label: 'Account',  source_with_id: Account.select('name1, id'), display_name: 'name1'