= f.input :party_type, label: 'Particular Type', collection: ['Incomes', 'Expenses'], include_blank: false
= f.input :name
= f.input :account_name, label: 'Account', input_html: { data: { source: Account.pluck(:name1), provide: 'typeahead' } }