= f.input :party_type, label: 'Type', collection: ['Income', 'Expense', 'Stopped'], autofocus: true
= f.input :tax_code_code, label: 'Tax Code'
= f.input :name
= f.input :account_name1, label: 'Account', input_html: { data: { source: Account.pluck(:name1), provide: 'typeahead' } }

:coffee
  ($ document).ready -> particular_type.init()