.row
  .span12
    .span2
      = f.input :packaging_name, input_html: { class: 'span2 packaging', data: { source: Packaging.pluck(:name), provide: 'typeahead' } }, wrapper: :table_field
    .span1
      = f.input :quantity, input_html: { class: 'quantity span1', type: :text }, wrapper: :table_field
    .span1
      = f.input :cost, input_html: { class: 'cost span1', type: :text }, wrapper: :table_field
    .span1
      = f.link_to_remove "X", class: "btn btn-danger"
