#chart-of-accounts
  .row
    %a#new-account-type.btn.btn-info{ href: new_account_type_path(parent_id: selected_account_type_id) }New Account Type
    %a#new-account.btn.btn-info{ href: new_account_path(account_type_id: selected_account_type_id) }New Account
  .row
    .css-treeview
      %a{href: '#', id: 'css-treeview-expand', class: 'btn btn-success'}Expand
      %a{href: '#', id: 'css-treeview-collapse', class: 'btn btn-danger'}Collapse
      = render_chart_of_account