.span3
  = render 'layouts/chart_of_accounts'
.span7
  = simple_form_for @account, html: { class: 'form-horizontal well' } do |f|
    %legend
      New Account
    = render 'fields', f: f
    .form-actions
      = f.button :submit, 'Save', class: 'btn btn-primary'  
